<% content_for :title, "Editing cliente" %>

<h1>Editando Cliente</h1>

<%= render "form", cliente: @cliente %>

<br>

<div>
  <%= link_to "Mostrar cliente", @cliente %> |
  <%= link_to "Voltar para clientes", clientes_path %>
</div>
