:root {
  --vermelho-quero: #D71920;
  --amarelo-quero: #FFC107;
}

body {
  /* Um fundo "creme" que combina com comida e com a logo */
  background-color: #FFF9F0; 
  color: #333;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
}

/* Estilo para os cards de PEDIDOS ou ESTOQUE */
.card-principal {
  background-color: #ffffff;
  border: 2px solid #D71920; /* Borda vermelha fina */
  border-radius: 40px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.05); /* Sombra suave */
  padding: 40px;
}

/* O botão ANOTAR */
.btn-anotar {
  background-color: #D71920; /* Vermelho da logo */
  color: #FFC107; /* Amarelo da logo */
  font-weight: bold;
  border-radius: 20px;
  padding: 10px 40px;
  border: none;
  text-transform: uppercase;
}